extends layout
block content
  header(class="nav")
    ul
      li
        button
          span(class="material-symbols-outlined",id="menuIcon") menu
      li(class="navTitle")
        h2 Admin
      li
        h1 Pages
      li(class="add")
        span
          h3 add
        button
          span(class="material-symbols-outlined") add
  form(action="" class="searchEngine")
    label(for="search") Search
    input(type="text" id="search")
  section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
        section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete


  footer(class="footer") Devlopment by josemontesdeoca00@gmail.com


