extends layout
block content
  form(action="" class="searchEngine")
    label(for="search") Search
    input(type="text" id="search")
  section(class="pagesCtn")
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete
    ul(class="pageCtn")
      li(class="pageTitle") Titulo
      li(class="pageDate") 01-11-1111
      li(class="pageStatus")
        input(type="checkbox", name="")
      li(class="pageEdit")
        span(class="material-symbols-outlined",id="menuIcon") edit
      li(class="pageDelete")
        span(class="material-symbols-outlined",id="menuIcon") delete


