extends layout
block content
  header(class="nav")
    ul
      li
        button
          span(class="material-symbols-outlined",id="menuIcon") menu
      li(class="navTitle")
        h2 Admin
      li
        h1 blog
      li(class="add")
        span
          h3 add
        button
          span(class="material-symbols-outlined") add



