:root{
  --bgViolet:#6719be ;
  --bgBlueDark:#004DE8  ;
  --bgBlueMedium:#006DFF;
  --bgBlueLigth:#00A9EA;
  --contrastColor:#FFCA5C ;
  --contrastColorDark:#0dda4b ;
  --text:rgb(208, 211, 241);
  --h1:3.5rem;
  --h2:3rem;
  --h3:2.5rem;
  --fontMedium:2rem;
  --fontSmall:1.5rem;
  --marginSmall:.4rem;
  --marginMedium:.6rem;
  --marginLarge:1rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fuzzy Bubbles';
  font-size: 62.5%
}
body{
  background-color: var(--bgBlueDark);
}
.nav,.nav ul,.nav ul li{
  background-color: var(--bgViolet);
}
h2{
  font-size: var(--h1);
  background: rgb(0,161,248);
  background: linear-gradient(0deg, rgba(0,161,248,1) 0%, rgba(13,218,75,1) 100%);
  border-radius: var(--marginMedium);
  -webkit-border-radius: var(--marginMedium);
  -moz-border-radius: var(--marginMedium);
  -ms-border-radius: var(--marginMedium);
  -o-border-radius: var(--marginMedium);
  padding: var(--marginSmall);
}
h1{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
.nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--marginLarge);
}
.nav ul li{
  margin: var(--marginSmall) var(--marginLarge);
}
button{
  display: grid;
  place-items: center;
}
.nav #menuIcon{
  display: none;
  background-color: var(--contrastColorDark);
  margin-left: var(--marginLarge);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: var(--marginSmall);
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
.add  button{
  margin-left: var(--marginLarge);
}
@media (max-width: 480px) {
  .nav #menuIcon{
    display: block;
    position: absolute;
    left: 0;

  }
  .navTitle{
    display: none;
  }
  .add h3{
    display: none;
  }
  .add button span{
    display: block;
    position: absolute;
    right: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: rgb(0,161,248);
    background: linear-gradient(0deg, rgba(0,161,248,1) 0%, rgba(13,218,75,1) 100%);
    margin-right: var(--marginLarge);
    padding: var(--marginSmall);
}
  .searchEngine{
    font-size: var(--h3);
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding: var(--marginSmall);
  }
  .searchEngine input {
    margin-left: var(--marginLarge);
  }
  .pagesCtn{
    background-color: var(--bgBlueMedium);
    margin: 0 auto;
    padding:  var(--marginSmall);
  }
  .pagesCtn ul{
    width: 90%;
    margin: var(--marginSmall) auto;
    background-color: var(--bgBlueLigth);
    border-radius: var(--marginLarge);
    font-size: var(--h3);
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    padding: var(--marginSmall) 0px ;
    -webkit-border-radius: var(--marginLarge);
    -moz-border-radius: var(--marginLarge);
    -ms-border-radius: var(--marginLarge);
    -o-border-radius: var(--marginLarge);
}
  .pagesCtn .pageTitle{
    font-size: var(--fontMedium);
  }
  .pagesCtn .pageDate{
    font-size: var(--fontSmall);
  }
  .pagesCtn .pageEdit{
    display: grid;
    place-content: center;
  }
  .pagesCtn .pageDelete{
    display: grid;
    place-content: center;
  }
  .pagesCtn .pageEdit span{
    font-size: var(--fontMedium);
  }
  .pagesCtn .pageDelete span{
    font-size: var(--fontMedium);
  }
  .footer{
    font-size: var(--fontSmall);
    margin: auto 0;
    text-align: center;
    margin-top: var(--marginLarge);
  }
}
/*https://hue.tools/mix?format=hex*/
/*#6719be
#004de8
#006dff
#0085ff
#0098ff
#00a9ea
#00b8c8
#00c59f
#00d175
#0dda4b*/
